body{
    height: 100%;
}

section{
    position: relative;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-style: italic;
    font-family: 'William', serif;
    font-weight: bolder;
}

header {
    position: absolute;
    width: 100%;
    bottom: 90%;
    left: 0;
    background: brown;
    text-align: center;
    font-style: italic;
    font-family: 'William', serif;
    font-weight: bolder;
}

.Hakon h1 {
    font-size: 40px;
    text-align: center;
}

.Hakon {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 30px;
    margin-top: 50px;
}

.Hakon img {
    height: 490px;
    width: 380px;
}

.info {
    padding-top: 50px;
    margin-left: 450px;
}

.info h2 {
    font-size: 30px;
}

footer {
    text-align: center;
    background: brown;
}

.theme {
    cursor: pointer;
}

.theme:hover{
    opacity: .9;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 24px;
}

.nextTheme {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FD746C, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}